.chip-estado-warn{
    background-color: rgb(255, 222, 222);
    color: rgb(192, 47, 47);
    border-radius: 6px;
    padding: 3px;
    text-align: center;
}
.chip-estado{
    background-color: rgb(214, 250, 214);
    color: rgb(34, 34, 34);
    border-radius: 6px;
    padding: 3px;
    text-align: center;
}